.blog-posts {
  margin: 0 clamp(2.375rem, -2.7679rem + 10.7143vw, 6.875rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;

  & h1 {
    font-family: "Millimetre";
    grid-column: 1 / span 2;
  }

  &__post {
    display: grid;
    border: 3.5px solid black;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    & .shadow {
      position: absolute;
      top: 3px;
      left: -3.5px;
      height: 100%;
      width: 50%;
      box-shadow: -15px 13px 0px 0px black;
    }

    &:hover {
      & .shadow {
        box-shadow: -15px 13px 0px 0px $cyan;
      }
    }

    &__title {
      font-family: "Roboto Mono";
      padding: 33px 38px;

      & h2 {
        font-size: 18.3px;
      }
    }

    &__description {
      font-family: "Roboto Mono";
      font-size: 15px;
      padding: 33px 38px;
      max-width: 37ch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & a {
        font-weight: bold;
      }
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Millimetre";
    margin-top: 50px;
    & a {
      border-bottom: 6px solid $cyan;
      font-weight: 600;
    }
  }
}
