$cyan: #7af7ff;
$dark-cyan: #163d40;
$font-16-12: clamp(0.75rem, 0.4643rem + 0.5952vw, 1rem);
$font-76-40: clamp(2.5rem, -0.0714rem + 5.3571vw, 4.75rem);
$font-25-16: clamp(1rem, 0.3571rem + 1.3393vw, 1.5625rem);
$font-21-12: clamp(0.75rem, 0.1071rem + 1.3393vw, 1.3125rem);
$font-20-12: clamp(0.75rem, 0.1786rem + 1.1905vw, 1.25rem);
$font-50-40: clamp(2.5rem, 1.7857rem + 1.4881vw, 3.125rem); ;
